

.contentIns{
    display: flex;
 margin-right: 6%;
 margin-top: 5%;
 align-items: center;

}


.box1{
  
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 110%;
    margin:5%;
    line-height: 250%;
    margin-top: 15%;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 8%;
    
}
.box1 li{
    margin: 2%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10%;
    padding: 3%;
    width: 15%;
    text-align: center;
    justify-content: center;
    font-size: 130%;
   
}



.box2{
    justify-content: center;
    text-align: center;
    font-size: 140%;
    line-height: 170%;
    border: 3px solid white;
    border-radius: 10%;
    padding: 4%;
    width: 50%;
    margin-top: 8%;
}

.box2 img{
    width: 30%;
    transition: transform 0.3s ease-in-out;
}
.photo:hover {
    transform: scale(1.4);
}



.button {
    background-color: #FFFFFF; 
    color: #8D7268; 
    padding: 1% 4%; 
    border-radius: 8%; 
    font-weight: bold;
    font-size: 90%; 
    text-decoration: none;
   
  }





@media screen and (max-width: 1050px){

    .contentIns{
        display: block;
        margin-left: 5%;
        margin-top: 20%;
    }
    .button{
        display: none;
    }

    .box2{
        width: 92%;
       
    }

    .box2 img{
        width: 40%;
    }

    ul{
        display:block;
        margin-left: 0%;
        margin-top: 10%;
        margin-left: 2%;
        padding: 0%;
    }

    .box1 li{
        width: 95%;
        margin-top: 5%;
        padding-bottom: 15%;
        padding-top: 15%;
    }


    .box1 .boxTitle{
        margin:2%;
    }

  

}